<div class="DialogDemo">
	<div class="ui-card">
		<header>Some Dialog Demo (very simple for now)</header>
		<section class="content">
			<button class="show basic">Base Dialog</button>
			<button class="show simple">Simple Dialog</button>
		</section>
	</div>
</div>