@import "../../pcss/utils.pcss";		

.TestValidatorView{
	
	@mixin elev-2;
	background-color: #fff;
	margin: 32px;
	flex: 1;
	
	h1{
		font-size: 32px;
		margin: 32px 32px 64px 32px;
	}
	.form{
		margin: 32px;
		max-width: 600px;
	}
}
