<div class=	"TestValidatorView">
	<h1>Test validation on click save</h1>
	<div class="form form-1">
		<div class="field in-line">
			<input type="text" name="title" class="validate" data-valid="required;noSpecialChar">
			<label>Title <small>*</small></label>
			<div class="message"></div>
		</div>

		<div class="field in-line">      
			<input type="text" name="email" class="validate" data-valid="required;email;min(10);max(20)">
			<label>Email <small>*</small></label>
			<div class="message"></div>
		</div>

		<div class="field in-line">      
			<input type="text" name="link" class="validate" data-valid="url">
			<label>Link (Optional)</label>
			<div class="message"></div>
		</div>
		
		<div class="field in-line">      
			<textarea name="content" class="validate" data-valid="required"></textarea>
			<label>Content</label>
			<div class="message"></div>
		</div>


		<footer>
		<button class="btn" tabindex="0">Reset</button>
		<div class="btn do-save" tabindex="0">Save</div>
		</footer>
	</div>
</div>
