<script id="TestMainView" type="text/html">
<div class=	"TestMainView">
	<nav class="main">
		<a href="#TestValidatorView">Validator</a>
		<a href="#TestDialogView">Dialog</a>
	</nav>
	<section class="main">
	some content here.
	</section>
</div>
</script>