.elem-toggle{
	width: 64px;
	height: 32px;
	border: solid 1px #ddd;
	background: #fafafa;
	border-radius: 32px;
	cursor: pointer;
	
	&.on{
		background: #aaffaa;
	}

	.circle{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		border: solid 1px #ddd;
		background: #fff;			
	}

	&.on .circle{
		float:right;
	}
}