<div class="PostrMainView">
	<div class="ui-card">
		<header>Post A New Post (not implemented yet)</header>
		<section class="content">
			<div class="form">

				<div class="field in-line">
					<input type="text" name="title" class="dx" required>
					<span class="bar"></span>
					<label>Title</label>
				</div>
					
				<div class="field in-line">      
					<input type="text" name="link" class="dx" required>
					<span class="bar"></span>
					<label>Link (Optional)</label>
				</div>
				
				<div class="field in-line">      
					<textarea name="content" class="dx dx-txt" required></textarea>
					<span class="bar"></span>
					<label>Text</label>
				</div>

				<div class="field hor">
					<div class="ipt switch dx dx-editable" tabindex="0"></div>
					<label>Editable</label>
				</div>

				<footer>
				<button class="btn" tabindex="0">Cancel</button>
				<div class="btn" tabindex="0">Save</div>
				</footer>
			</div>
		</section>
	</div>
</div>