<div class="PostrMainView">
	<div class="ui-card">
		<header>Post A New Post</header>
		<section class="content">
			<div class="form">

				<div class="group">
					<input type="text" required>
					<span class="bar"></span>
					<label>Title</label>
				</div>
					
				<div class="group">      
					<input type="text" required>
					<span class="bar"></span>
					<label>Link (Optional)</label>
				</div>
				

				<div class="group">
					{{{elem-toggle true}}}
				</div>
			</div>
		</section>
	</div>
</div>